<div class="card mt-5">
  <h3 class="card__border p-3">
    Informações gerais:
  </h3>

  <div class="card__border p-3">
    <div class="input-group">
      <%= form_tag('', method: :get) do %>
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Médico:</span>
          <%= select_tag(
              'doctor', 
              options_for_select(
                @doctors.map {|doctor| [doctor.name, doctor.id]}
              ), 
              include_blank: 'Todos os médicos', 
              class: "card__select"
            ) 
          %>
        </div>
        <div>
          <%= submit_tag "Filtrar", class: "btn btn-primary mt-2" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="p-3">
      <div>
        Número de consultas realizadas: <%= @total_appointments -%>
      </div>
      <div>
        Pacientes distintos atendidos: <%= @distinct_patients %>
      </div>
    </div>
  </div>
</div>